body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}
header {
  background-color: #f7fbfc;
}
footer {
  background: -webkit-linear-gradient(#975196, #7c3778); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#975196, #7c3778); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#975196, #7c3778); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#975196, #7c3778); /* Standard syntax */
}
a {
  text-decoration: none;
}
.be-pacifico {
  font-family: "Pacifico", sans-serif;
}
.be-verde {
  color: #73c926;
}
.be-rosa {
  color: #de1a7e;
}
.color-morado {
  color: #d36d9a;
}
.color-white {
  color: #fff;
}
.color-verde {
  background-color: #92ca33;
}
.color-azul {
  background-color: #20a7d6;
}
.color-purple {
  background-color: #7d2174;
}
.color-rosa {
  background-color: #de1a7e;
}
.btn {
  -webkit-appearance: none;
  background-color: #f7fbfc;
  border: none;
  border-radius: 10px;
  box-shadow: inset 0 -3px rgba(0,0,0,0.3);
  box-sizing: border-box;
  color: #000;
  display: block;
  height: 35px;
  height: initial !important;
  line-height: 32px;
  padding: 0 1em;
  padding-bottom: 5px;
  padding-top: 5px;
  text-decoration: none;
  vertical-align: top;
  webkit-box-shadow: inset 0 -3px rgba(0,0,0,0.3);
  width: 130px;
}
.btn-purple {
  background-color: #d1156e;
  color: #fff;
  font-style: italic;
}
.btn-menu {
  font-size: 1.1em;
}
.no-margin {
  margin: 0;
}
.no-margin--right {
  margin-right: 0;
}
.no-padding {
  padding: 0;
}
.large-padding {
  padding: 15px 0;
}
.padding {
  padding: 1em;
}
.margin-top {
  margin-top: 1em;
}
.margin-right {
  margin-right: 1em;
}
.margin-right--plus {
  margin-right: 4em;
}
.text-right {
  text-align: right;
}
#banner {
  background-color: #73c926;
}
#show-menu {
  background-color: #73c926;
  color: #fff;
  text-align: left;
  text-transform: uppercase;
  font-weight: 700;
  display: block;
  line-height: 2;
  margin-top: 1em;
  padding-left: 1em;
  cursor: pointer;
}
.banner {
  margin: auto;
  max-width: 950px;
}
.banner__content {
  color: #f7fbfc;
  font-weight: 600;
  text-align: justify;
  margin: 0 auto;
}
.group {
  margin: 1em 0;
}
.group__title {
  font-size: 1.2em;
  font-weight: 700;
}
.group__content {
  margin: 1em 0;
  text-align: justify;
}
.message__content {
  color: #606f82;
  font-weight: 600;
  text-align: justify;
}
.menu {
  background-color: #f27630;
  padding: 0.7em 0;
  display: none;
}
.menu__item {
  display: block;
  line-height: 1.5;
  padding-left: 1em;
  text-align: left;
  text-transform: uppercase;
}
.menu__link {
  color: #f7fbfc;
  font-family: "Roboto", sans-serif;
  font-size: 1.2em;
  font-weight: 700;
  text-decoration: none;
  background-color: #f27630;
}
.social__item {
  display: inline-block;
  text-align: center;
  font-size: 2.3em;
  margin: 0 0.2em;
}
.phone__item {
  display: inline-block;
  font-weight: 700;
}
.footer__copy a {
  color: #fff;
  font-weight: 600;
}
.footer__item {
  display: block;
}
.icon-facebook {
  color: #3b5999;
}
.icon-twitter {
  color: #88bee6;
}
.title {
  color: #bc26a2;
  font-size: 2.5em;
}
@media (min-width: 62em) {
  #show-menu {
    display: none;
  }
  .banner {
    margin-top: 0;
  }
  .menu {
    background: #f7fbfc;
    display: block;
  }
  .menu__item {
    display: inline-block;
  }
  .menu__link {
    color: #000;
    text-transform: none;
    margin-right: 0.7em;
    padding: 0.6em 1em;
    border-radius: 10px;
    color: #f7fbfc;
    font-family: "Pacifico", sans-serif;
    font-weight: 300;
    -webkit-appearance: none;
    box-shadow: inset 0 -3px rgba(0,0,0,0.3);
    webkit-box-shadow: inset 0 -3px rgba(0,0,0,0.3);
    transition: 0.5s;
  }
  .menu__link:hover {
    background-color: #92ca33;
  }
  .phones {
    margin: 0;
  }
}
@font-face {
  font-family: 'colegio';
  src: url("../fonts/colegio.eot?fwxy6v");
  src: url("../fonts/colegio.eot?#iefixfwxy6v") format('embedded-opentype'), url("../fonts/colegio.woff?fwxy6v") format('woff'), url("../fonts/colegio.ttf?fwxy6v") format('truetype'), url("../fonts/colegio.svg?fwxy6v#colegio") format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  font-family: 'colegio';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
/* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-phone:before {
  content: "\e942";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-google-plus:before {
  content: "\ea8a";
}
.icon-facebook:before {
  content: "\ea8e";
}
.icon-twitter:before {
  content: "\ea93";
}
.icon-youtube:before {
  content: "\ea99";
}
